#gradBgn {
	  width:100%;
	  position:relative;
	}
	.anton {
	  font-family: 'Anton', sans-serif;
	}
	.openSans {
	  font-family: 'Open Sans', sans-serif;
	}
	.blurOverlay {
	  background:#fff;
	  background:rgba(0,0,0,0.8);
	 
	  z-index:11;
	}
	#gradBgn {
	  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5e004b+0,9e0041+100 */
	  background: rgb(94,0,75); /* Old browsers */
	  background: -moz-linear-gradient(45deg,  rgba(94,0,75,1) 0%, rgba(158,0,65,1) 100%); /* FF3.6-15 */
	  background: -webkit-linear-gradient(45deg,  rgba(94,0,75,1) 0%,rgba(158,0,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(45deg,  rgba(94,0,75,1) 0%,rgba(158,0,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e004b', endColorstr='#9e0041',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	  background: url('/static_files/images/html/stayMenuBgn.jpg') no-repeat;
	  background-size:cover;
	 
	  position:fixed;
	  top:0;
	  height:100vh;
	  width:100%;
	  overflow:auto
	}
	.custom-link:hover {
	  color : #fff
	}
	.custom-link {
	  text-decoration : none;
	  color : #cecece;
	  min-width:120px;
	  display:inline-block;
	}
	.hamLine {
	  display:block;
	  width:24px;
	  margin-top:4px;
	  border-top:1px solid #fff;
	  vertical-align:middle;
	  transform-origin:15% 15%;
	  transition : all 200ms linear;
	}
	#subMenu {
	  display:inline-grid;
	  cursor:pointer;
	  z-index:12;
	}
	 
	.slideRight .custom-link{
	  transform : translateX(20px);
	  transition : transform 200ms linear;
	}
	 
	.menuClicked .hamLine:nth-child(1){
	  transform: rotate(45deg)
	}
	.menuClicked .hamLine:nth-child(3){
	  transform: rotate(-45deg)
	}
	.menuClicked .hamLine:nth-child(2){
	  display:none;
	}





